#content_area{
   	width: 700px;
    margin: 0 auto;
    margin-top: 50px;
    height: 790px;
}
#content_top{
	text-align: center;
	margin-bottom: 35px;
    font-size: 29px;
    font-weight: 700;
}
#main{
	clear: both;
	height: 180px;
    border-bottom: 1px solid gray;
    border-top: 1px solid gray;
}
#password{
	float: left;
	font-size: 20px;
	font-weight: 700;
}
#newpassword{
	margin-left: 100px;
	float: left;
	border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 5px 5px;
}
#pass_confirm{
	clear: both;
	margin-top: 30;
	float: left;
}
#pass_confirm_title{
	float: left;
	font-size: 20px;
	font-weight: 700;
}
#newpass_confirm{
	margin-left: 60px;
	float: left;
	border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 5px 5px;
}

.Confirm{
	float: left;
    cursor:pointer;
    margin-left: 44px;
    border: 1px solid #dddddd;
    background-color: #dddddd;
    border-radius: 5px;
    width: 85px;
    text-align: center;
    height: 28px;
}
#success{
	background-color: #bae5f2;
}
#footer{
	background-color: #b1dbe7;
    margin-top: 2px;
}
#footer p {
	margin-left: 1620px;
    font-size: 15px;
}
a{
	text-decoration:none;
	color:black;
}
.title{
	margin-left: 32px;
    
    width: 166px;
    
    text-align: center;
    margin-bottom: 10px;
    height: 27px;
    
}
#information{
	float: left;
	
}
#information_title{
	
	color: black;
}
#change_title{
	background-color: gray;
	border: 1px solid gray;
    border-radius: 5px;
    color: white;
}
#secession_title{
	color: black;	
}
#change{
	float: left;
	
}	
#secession{
	float: left;
	
}
@media screen and (max-width:1900px) {
	#content {
	    width: 100%;
	    height: 746px;
	    background-color: white;
	}
	#content_area{
	   	width: 1000px;
	    margin: 0 auto;
	    margin-top: 50px;
	    height: 768px;
	}
	#footer p {
		margin-left: 977px;
	    font-size: 15px;
	}	
}
   