#content_area{
   	width: 960px;
    margin: 0 auto;
    margin-top: 50px;
    height: 790px;
}
#content_top{
	text-align: center;
	margin-bottom: 35px;
    font-size: 29px;
    font-weight: 700;
}
#main{
	clear: both;
	height: 375px;
    border-bottom: 1px solid gray;
    border-top: 1px solid gray;
}

#footer{
	background-color: #b1dbe7;
    margin-top: 2px;
}
#footer p {
	margin-left: 1620px;
    font-size: 15px;
}
a{
	
}
#main_area{
	margin-top: 100px;
}
#privacy_img{
	float: left;
	margin-left: 170px;
}
#password_img{
	float: left;
	margin-left: 45px;
}
#withdrawal_img{
	float: left;
	margin-left: 38px;	
}

@media screen and (max-width:1900px) {
	#content {
	    width: 100%;
	    height: 746px;
	    background-color: white;
	}
	#content_area{
	   	width: 1000px;
	    margin: 0 auto;
	    margin-top: 50px;
	    height: 768px;
	}
	#footer p {
		margin-left: 977px;
	    font-size: 15px;
	}	
}
   