{%extends "sign_up_base.html"%}
<html>
<head>
	{%block title%}
		회원가입
	{%endblock%}

	{%block link%}
	<link rel="stylesheet" type="text/css" href="/static/css/login/termsofuse.css">

	{%endblock%}

	{%block script%}
	<script type="text/javascript">
		function all_check(){
			var terms_check = document.getElementsByName("terms_check");
			var identity_info_check = document.getElementsByName("identity_info_check");
			var location_info_check = document.getElementsByName("location_info_check");
			var all_check = document.getElementsByName("all_check");

			if(all_check[0].checked == true){
				terms_check[0].checked = true;
				identity_info_check[0].checked = true;
				location_info_check[0].checked = true;
			}
			if(all_check[0].checked == false){
				terms_check[1].checked = true;
				identity_info_check[1].checked = true;
				location_info_check[1].checked = true;
			}
		}
	</script>
  	{%endblock%}
</head>
<body>
	{%block content%}
	<div id="content_area">
		<div>
 			<p id="content_top">회원가입</p>
 		</div>
 		<!-- <form method="get" action="/login/signup"> -->
 		<div id="main">
 			<hr>
 			<div id="textmain">
 				<div style="margin-top: 25px;">
 					<div>
 					<div style="margin-top: 20;font-size: 20px;font-weight: 700; margin: 0 auto; width: 910;">
 						<p>이용약관</p>
 					</div>
 					<div id="termsofuse">
	 					<p>
[이용약관]<br>
<br>
제1장 총칙<br><br>

제1조 (목적)<br>

본 약관은 회원(서비스 약관에 동의한 자를 말합니다. 이하 “회원”이라고 합니다.)이 주식회사 에프에스알엔티 (이하 “회사”라고 합니다.)가 제공하는 사용자 위치 기반을 통한 낙상모니터링 시스템(이하 “서비스”라 한다)의 이용조건 및 절차, 회원의 권리, 의무, 책임사항 등 기타 필요한 사항을 규정함을 목적으로 합니다.<br>
<br>
제2조 (약관의 효력과 변경)<br>
<br>
1. 당 사이트는 귀하가 본 약관 내용에 동의하는 것을 조건으로 귀하에게 서비스를 제공할 것이며, 귀하가 본 약관의 내용에 동의하는 경우, 당 사이트의 서비스 제공 행위 및 귀하의 서비스 사용 행위에는 본 약관이 우선적으로 적용될 것입니다.
2. 당 사이트는 본 약관을 사전 고지 없이 변경할 수 있으며, 변경된 약관은 당 사이트 내에 공지함으로써 이용자가 직접 확인하도록 할 것입니다. 이용자가 변경된 약관에 동의하지 아니하는 경우, 이용자는 본인의 회원등록을 취소(회원탈퇴)할 수 있으며, 계속 사용의 경우는 약관 변경에 대한 동의로 간주됩니다. 변경된 약관은 공지와 동시에 그 효력이 발생됩니다.<br>
<br>
제3조 (약관 외 준칙)
<br>
1. 본 약관은 당 사이트가 제공하는 서비스에 관한 이용규정 및 별도 약관과 함께 적용됩니다.
2. 본 약관에 명시되지 않은 사항은 전기통신기본법, 전기통신사업법, 정보통신윤리위원회심의규정, 정보통신 윤리강령, 프로그램보호법 및 기타 관련 법령의 규정에 의합니다.<br>
<br>
제4조 (용어의 정의)
<br>
본 약관에서 사용하는 용어의 정의는 다음과 같습니다.
1. 이용자 : 본 약관에 따라 당 사이트가 제공하는 서비스를 받는 자
2. 가입 : 당 사이트가 제공하는 신청서 양식에 해당 정보를 기입하고, 본 약관에 동의하여 서비스 이용계약을 완료시키는 행위
3. 회원 : 당 사이트에 개인정보 등 관련 정보를 제공하여 회원등록을 한 개인(재외국민, 국내거주 외국인 포함)또는 법인으로서 당 사이트의 정보를 제공 받으며, 당 사이트가 제공하는 서비스를 이용할 수 있는 자
4. 비밀번호 : 이용자와 회원ID가 일치하는지를 확인하고 통신상의 자신의 비밀보호를 위하여 이용자 자신이 선정한 문자와 숫자의 조합 
5. 탈퇴 : 회원이 이용계약을 종료 시키는 행위
6. 본 약관에서 정의하지 않은 용어는 개별서비스에 대한 별도 약관 및 이용규정에서 정의합니다.
<br>
제2장 서비스 제공 및 이용
<br>
 제5조 (이용 계약의 성립)
<br>
1. 이용계약은 신청자가 온라인으로 당 사이트에서 제공하는 소정의 가입신청 양식에서 요구하는 사항을 기록하여 가입을 완료하는 것으로 성립됩니다.
<br>
2. 당 사이트는 다음 각 호에 해당하는 이용계약에 대하여는 가입을 취소할 수 있습니다.
<br>
① 다른 사람의 명의를 사용하여 신청하였을 때<br>
② 이용 계약 신청서의 내용을 허위로 기재하였거나 신청하였을 때<br>
③ 사회의 안녕 질서 혹은 미풍양속을 저해할 목적으로 신청하였을 때<br>
④ 다른 사람의 당 사이트 서비스 이용을 방해하거나 그 정보를 도용하는 등의 행위를 하였을 때<br>
⑤ 당 사이트를 이용하여 법령과 본 약관이 금지하는 행위를 하는 경우<br>
⑥ 기타 당 사이트가 정한 이용신청요건이 미비 되었을 때<br>
3. 당 사이트는 다음 각 항에 해당하는 경우 그 사유가 해소될 때까지 이용계약 성립을 유보할 수 있습니다.<br>
① 서비스 관련 제반 용량이 부족한 경우<br>
② 기술상 장애 사유가 있는 경우<br>
<br>
4. 당 사이트가 제공하는 서비스는 아래와 같으며, 그 변경될 서비스의 내용을 이용자에게 공지하고 아래에서 정한 서비스를 변경하여 제공할 수 있습니다.<br>
<br>
① 당 사이트가 자체 개발하거나 다른 기관과의 협의 등을 통해 제공하는 일체의 서비스<br>
<br>
 제6조 (회원정보 사용에 대한 동의)
<br>
1. 회원의 개인정보에 대해서는 당 사이트의 개인정보보호정책이 적용됩니다.<br>
2. 당 사이트의 회원 정보는 다음과 같이 수집, 사용, 관리, 보호됩니다.<br>
① 개인정보의 수집 : 당 사이트는 귀하의 당 사이트 서비스 가입시 귀하가 제공하는 정보를 통하여 귀하에 관한 정보를 수집합니다.<br>
② 개인정보의 사용 : 당 사이트는 서비스 제공과 관련해서 수집된 회원의 신상정보를 본인의 승낙 없이 제3자에게 누설, 배포하지 않습니다. 단, 전기통신기본법 등 법률의 규정에 의해 국가기관의 요구가 있는 경우, 범죄에 대한 수사상의 목적이 있거나 정보통신윤리 위원회의 요청이 있는 경우 또는 기타 관계법령에서 정한 절차에 따른 요청이 있는 경우, 귀하가 당 사이트에 제공한 개인정보를 스스로 공개한 경우에는 그러하지 않으며, 당 사이트와 타 행정기관의 사이트간의 회원정보 통합관리와 관련하여 필요한 경우에는 개인정보 등 관련정보를 타 행정기관에 제공할 수 있습니다.<br>
③ 개인정보의 관리 : 귀하는 개인정보의 보호 및 관리를 위하여 개인정보관리에서 수시로 귀하의 개인정보를 수정/삭제할 수 있습니다.<br>
수신되는 정보 중 불필요하다고 생각되는 부분도 변경/조정할 수 있습니다.<br>
④ 개인정보의 보호 : 귀하의 개인정보는 오직 귀하만이 열람/수정/삭제 할 수 있으며, 이는 전적으로 귀하의 ID와 비밀번호에 의해 관리되고 있습니다. 따라서 타인에게 본인의 ID와 비밀번호를 알려주어서는 아니되며, 작업 종료시에는 반드시 로그아웃 해주시고, 웹 브라우저의 창을 닫아주시기 바랍니다(이는 타인과 컴퓨터를 공유하는 인터넷 카페나 도서관 같은 공공장소에서 컴퓨터를 사용하는 경우에 귀하의 정보의 보호를 위하여 필요한 사항입니다)<br>
<br>
3. 회원이 당 사이트에 본 약관에 따라 이용신청을 하는 것은 당 사이트가 본 약관에 따라 신청서에 기재된 회원정보를 수집, 이용하는 것에 동의하는 것으로 간주됩니다.
<br>
제7조 (사용자의 정보 보안)
<br>
1. 가입 신청자가 당 사이트 서비스 가입 절차를 완료하는 순간부터 귀하는 입력한 정보의 비밀을 유지할 책임이 있으며, 회원의 ID와 비밀번호를 사용하여 발생하는 모든 결과에 대한 책임은 회원본인에게 있습니다.<br>
2. ID와 비밀번호에 관한 모든 관리의 책임은 회원에게 있으며, 회원의 ID나 비밀번호가 부정하게 사용되었다는 사실을 발견한 경우에는 즉시 당 사이트에 신고하여야 합니다. 신고를 하지 않음으로 인한 모든 책임은 회원 본인에게 있습니다.<br>
3. 이용자는 당 사이트 서비스의 사용 종료시 마다 정확히 접속을 종료하도록 해야 하며, 정확히 종료하지 아니함으로써 제3자가 귀하에 관한 정보를 이용하게 되는 등의 결과로 인해 발생하는 손해 및 손실에 대하여 당 사이트는 책임을 부담하지 아니합니다.<br>
<br>
제8조 (서비스 이용시간)
<br>
1. 서비스 이용시간은 당 사이트의 업무상 또는 기술상 특별한 지장이 없는 한 연중무휴, 1일 24시간을 원칙으로 합니다.<br>
2. 제1항의 이용시간은 정기점검 등의 필요로 인하여 당 사이트가 정한 날 또는 시간은 예외로 합니다.
<br>
제9조 (서비스의 중지 및 정보의 저장과 사용)
<br>
1. 귀하는 당 사이트 서비스에 보관되거나 전송된 메시지 및 기타 통신 메시지 등의 내용이 국가의 비상사태, 정전, 당 사이트의 관리 범위 외의 서비스 설비 장애 및 기타 불가항력에 의하여 보관되지 못하였거나 삭제된 경우, 전송되지 못한 경우 및 기타 통신 데이터의 손실이 있을 경우에 당 사이트는 관련 책임을 부담하지 아니합니다.<br>
2. 당 사이트가 정상적인 서비스 제공의 어려움으로 인하여 일시적으로 서비스를 중지하여야 할 경우에는 서비스 중지 1주일 전의 고지 후 서비스를 중지할 수 있으며, 이 기간 동안 귀하가 고지내용을 인지하지 못한 데 대하여 당 사이트는 책임을 부담하지 아니합니다. 부득이한 사정이 있을 경우 위 사전 고지기간은 감축되거나 생략될 수 있습니다. 또한 위 서비스 중지에 의하여 본 서비스에 보관되거나 전송된 메시지 및 기타 통신 메시지 등의 내용이 보관되지 못하였거나 삭제된 경우, 전송되지 못한 경우 및 기타 통신 데이터의 손실이 있을 경우에 대하여도 당 사이트는 책임을 부담하지 아니합니다.<br>
3. 당 사이트의 사정으로 서비스를 영구적으로 중단하여야 할 경우 제 2 항에 의거합니다. 다만, 이 경우 사전 고지기간은 1개월로 합니다.<br>
4. 당 사이트는 사전 고지 후 서비스를 일시적으로 수정, 변경 및 중단할 수 있으며, 이에 대하여 귀하 또는 제3자에게 어떠한 책임도 부담하지 아니합니다.<br>
5. 당 사이트는 이용자가 본 약관의 내용에 위배되는 행동을 한 경우, 임의로 서비스 사용을 제한 및 중지할 수 있습니다. 이 경우 당 사이트는 위 이용자의 접속을 금지할 수 있습니다.<br>
<br>
제10조 (서비스의 변경 및 해지)
<br>
1. 당 사이트는 귀하가 서비스를 이용하여 기대하는 손익이나 서비스를 통하여 얻은 자료로 인한 손해에 관하여 책임을 지지 않으며, 회원이 본 서비스에 게재한 정보, 자료, 사실의 신뢰도, 정확성 등 내용에 관하여는 책임을 지지 않습니다.<br>
2. 당 사이트는 서비스 이용과 관련하여 가입자에게 발생한 손해 중 가입자의 고의, 과실에 의한 손해에 대하여 책임을 부담하지 아니합니다.<br>
<br>
제11조 (정보 제공 및 홍보물 게재)
<br>
1. 당 사이트는 서비스를 운영함에 있어서 각종 정보를 서비스에 게재하는 방법 등으로 회원에게 제공할 수 있습니다.<br>
2. 당 사이트는 서비스에 적절하다고 판단되거나 활용 가능성 있는 홍보물을 게재할 수 있습니다.<br>
<br>
제12조 (당 사이트에 제출된 게시물의 저작권)
<br>
1. 귀하가 게시한 게시물의 내용에 대한 권리는 귀하에게 있습니다.<br>
2. 당 사이트는 게시된 내용을 사전 통지 없이 편집, 이동 할 수 있는 권리를 보유하며, 다음의 경우 사전 통지 없이 삭제할 수 있습니다.<br>
① 본 서비스 약관에 위배되거나 상용 또는 불법, 음란, 저속하다고 판단되는 게시물을 게시한 경우<br>
② 다른 회원 또는 제 3자를 비방하거나 중상 모략으로 명예를 손상시키는 내용인 경우<br>
③ 공공질서 및 미풍양속에 위반되는 내용인 경우<br>
④ 범죄적 행위에 결부된다고 인정되는 내용일 경우<br>
⑤ 제3자의 저작권 등 기타 권리를 침해하는 내용인 경우<br>
⑥ 기타 관계 법령에 위배되는 경우<br>
3. 회원이 당 사이트에 본 약관에 따라 이용신청을 하는 것은 당 사이트가 본 약관에 따라 신청서에 기재된 회원정보를 수집, 이용하는 것에 동의하는 것으로 간주됩니다.<br>
<br>
제13조 (사용자의 행동규범 및 서비스 이용제한)<br>
<br>
1. 귀하가 제공하는 정보의 내용이 허위인 것으로 판명되거나, 그러하다고 의심할 만한 합리적인 사유가 발생할 경우 당 사이트는 귀하의 본 서비스 사용을 일부 또는 전부 중지할 수 있으며, 이로 인해 발생하는 불이익에 대해 책임을 부담하지 아니합니다.<br>
2. 귀하가 당 사이트 서비스를 통하여 게시, 전송, 입수하였거나 전자메일 기타 다른 수단에 의하여 게시, 전송 또는 입수한 모든 형태의 정보에 대하여는 귀하가 모든 책임을 부담하며 당 사이트는 어떠한 책임도 부담하지 아니합니다.
3. 당 사이트는 당 사이트가 제공한 서비스가 아닌 가입자 또는 기타 유관기관이 제공하는 서비스의 내용상의 정확성, 완전성 및 질에 대하여 보장하지 않습니다. 따라서 당 사이트는 귀하가 위 내용을 이용함으로 인하여 입게 된 모든 종류의 손실이나 손해에 대하여 책임을 부담하지 아니합니다.<br>
4. 귀하는 본 서비스를 통하여 다음과 같은 행동을 하지 않는데 동의합니다.<br>
① 타인의 아이디(ID)와 비밀번호를 도용하는 행위<br>
② 저속, 음란, 모욕적, 위협적이거나 타인의 프라이버시를 침해할 수 있는 내용을 전송, 게시, 게재, 전자메일 또는 기타의 방법으로 전송하는 행위<br>
③ 서비스를 통하여 전송된 내용의 출처를 위장하는 행위<br>
④ 법률, 계약에 의하여 이용할 수 없는 내용을 게시, 게재, 전자메일 또는 기타의 방법으로 전송하는 행위<br>
⑤ 타인의 특허, 상표, 영업비밀, 저작권, 기타 지적재산권을 침해하는 내용을 게시, 게재, 전자메일 또는 기타의 방법으로 전송하는 행위<br>
⑥ 당 사이트의 승인을 받지 아니한 광고, 판촉물, 정크메일, 스팸, 행운의 편지, 피라미드 조직 기타 다른 형태의 권유를 게시, 게재, 전자메일 또는 기타의 방법으로 전송하는 행위
⑦ 다른 사용자의 개인정보를 수집 또는 저장하는 행위<br>
5. 당 사이트는 회원이 본 약관을 위배했다고 판단되면 서비스와 관련된 모든 정보를 이용자의 동의 없이 삭제할 수 있습니다.<br>
<br>
제3장 의무 및 책임
<br>
 제14조 (당 사이트의 의무)
<br>
1. 당 사이트는 법령과 본 약관이 금지하거나 미풍양속에 반하는 행위를 하지 않으며, 계속적, 안정적으로 서비스를 제공하기 위해 노력할 의무가 있습니다.<br>
2. 당 사이트는 회원의 개인 신상 정보를 본인의 승낙 없이 타인에게 누설, 배포하지 않습니다. 다만, 전기통신관련법령 등 관계법령에 의하여 관계 국가기관 등의 요구가 있는 경우에는 그러하지 않으며, 당 사이트와 타 행정기관의 사이트간의 회원정보 통합관리와 관련하여 필요한 경우에는 개인정보 등 관련정보를 타 행정기관에 제공할 수 있습니다.<br>
3. 당 사이트는 이용자가 안전하게 당 사이트서비스를 이용할 수 있도록 이용자의 개인정보 (신용정보 포함) 보호를 위한 보안시스템을 갖추어야 합니다.<br>
4. 당 사이트는 이용자의 귀책사유로 인한 서비스 이용 장애에 대하여 책임을 지지 않습니다.
<br>
제15조 (회원의 의무)
<br>
1. 회원 가입 시에 요구되는 정보는 정확하게 기입하여야 합니다. 또한 이미 제공된 귀하에 대한 정보가 정확한 정보가 되도록 유지, 갱신하여야 하며, 회원은 자신의 ID 및 비밀번호를 제3자에게 이용하게 해서는 안 됩니다.<br>
2. 회원은 당 사이트의 사전 승낙 없이 서비스를 이용하여 어떠한 영리 행위도 할 수 없습니다.<br>
3. 회원은 당 사이트 서비스를 이용하여 얻은 정보를 당 사이트의 사전승낙 없이 복사, 복제, 변경, 번역, 출판•방송 기타의 방법으로 사용하거나 이를 타인에게 제공할 수 없습니다.<br>
4. 회원은 당 사이트 서비스 이용과 관련하여 다음 각 호의 행위를 하여서는 안됩니다.<br>
① 다른 회원의 ID를 부정 사용하는 행위<br>
② 범죄행위를 목적으로 하거나 기타 범죄행위와 관련된 행위<br>
③ 선량한 풍속, 기타 사회질서를 해하는 행위<br>
④ 타인의 지적재산권 등의 권리를 침해하는 행위<br>
⑤ 해킹행위 또는 컴퓨터바이러스의 유포행위<br>
⑥ 타인의 의사에 반하여 광고성 정보 등 일정한 내용을 지속적으로 전송하는 행위<br>
⑦ 서비스의 안전적인 운영에 지장을 주거나 줄 우려가 있는 일체의 행위<br>
⑧ 당 사이트에 게시된 정보의 변경<br>
⑨ 기타 전기통신법 제53조와 전기통신사업법 시행령 16조(불온통신), 통신사업법 제53조3항에 위배되는 행위
<br>
 제4장 기타
<br>
 제16조 (당 사이트의 소유권)
<br>
1. 당 사이트가 제공하는 서비스, 그에 필요한 소프트웨어, 이미지, 마크, 로고, 디자인, 서비스명칭, 정보 및 상표 등과 관련된 지적재산권 및 기타 권리는 정부에 소유권이 있습니다.<br>
2. 귀하는 당 사이트가 명시적으로 승인한 경우를 제외하고는 전항의 소정의 각 재산에 대한 전부 또는 일부의 수정, 대여, 대출, 판매, 배포, 제작, 양도, 재라이센스, 담보권 설정 행위, 상업적 이용 행위를 할 수 없으며, 제3자로 하여금 이와 같은 행위를 하도록 허락할 수 없습니다.<br>
<br>
제17조 (양도금지)
<br>
회원이 서비스의 이용권한, 기타 이용계약 상 지위를 타인에게 양도, 증여할 수 없으며, 이를 담보로 제공할 수 없습니다.<br>

제18조 (손해배상)<br>

당 사이트는 무료로 제공되는 서비스와 관련하여 회원에게 어떠한 손해가 발생하더라도 당 사이트가 고의로 행한 범죄행위를 제외하고 이에 대하여 책임을 부담하지 아니합니다.<br>
<br>
제19조 (면책조항)
<br>
1. 당 사이트는 서비스에 표출된 어떠한 의견이나 정보에 대해 확신이나 대표할 의무가 없으며 회원이나 제3자에 의해 표출된 의견을 승인하거나 반대하거나 수정하지 않습니다. 당 사이트는 어떠한 경우라도 회원이 서비스에 담긴 정보에 의존해 얻은 이득이나 입은 손해에 대해 책임이 없습니다.
2. 당 사이트는 회원간 또는 회원과 제3자간에 서비스를 매개로 하여 물품거래 혹은 금전적 거래 등과 관련하여 어떠한 책임도 부담하지 아니하고, 회원이 서비스의 이용과 관련하여 기대하는 이익에 관하여 책임을 부담하지 않습니다.
<br>
제20조 (관할법원)<br>
<br>
본 서비스 이용과 관련하여 발생한 분쟁에 대해 소송이 제기될 경우 인천지방법원 본원을 전속적 관할 법원으로 합니다.
<br>
부칙<br>
<br>
1. (시행일) 본 약관은 2017년 00월 00일부터 시행됩니다.<br>
	 					</p>
 					</div>
 					<div style="float:right; margin-right: 12px;">
 						<p style="float: left;  margin-right: 25px;">이용약관에 동의합니다</p>
 						<div style="float:left; margin-right: 25px;">
 							<input type="radio" name="terms_check" id="termsofuse_agree"> 동의
 						</div>
 						<div style="float:left;">
							<input type="radio" name="terms_check"  id="termsofuse_Fine"> 미동의
						</div>
 					</div>

 					<div style="margin-top: 55px;font-size: 20px;font-weight: 700; margin: 0 auto; width: 910;    clear: both;">
 						<p>개인정보처리방침</p>
 					</div>
 					<div id="Privacy">
	 					<p>

[개인정보처리방침]
<br>
<br>
<에프에스알엔티>은(는) 개인정보를 다음의 목적을 위해 처리합니다. 처리한 개인정보는 다음의 목적이외의 용도로는 사용되지 않으며 이용 목적이 변경될 시에는 사전동의를 구할 예정입니다.
<br>
<br>
 [개인정보의 처리 목적]
<br>
<br>
에프에스알엔티 웹사이트는 회원가입 시 이용 약관에 동의하는 절차를 마련하고 있으며 회원이 동의를 하면 개인정보 수집에 대해 동의한 것으로 봅니다.<br>
성명, 주민등록번호, 아이디, 비밀번호는 서비스의 건전한 이용을 유도하고 이용자 보호를 위해 실명제를 채택하고 있기 때문에 필수적인 요소입니다.<br>
성명, 휴대폰번호는 회원이 비밀번호 분실 시 가입정보와 대조 확인하여 알려주는 용도로 사용됩니다.<br>
주소, 전화번호, 휴대폰번호 등은 온라인 확인, 처리 등 원활한 의사소통 경로의 확보, 시정 안내 등에 활용됩니다.<br>
<br>
<br>
 [수집하는 개인정보의 항목]
<br>
<br>
일반회원가입<br>
 성명, 아이디, 비밀번호, 연락처<br>
 회원가입 시 입력한 주민등록번호는 본인실명확인용으로만 사용되며 보관하지 않습니다.<br>
자동으로 수집•저장되는 개인 정보<br>
 여러분이 에프에스알엔티 웹사이트를 이용할 경우 이용자 여러분의 IP 및 방문일시는 자동적으로 수집•저장됩니다.<br>
위와 같이 자동 수집•저장되는 정보는 이용자 여러분에게 보다 나은 서비스를 제공하기 위해 웹사이트의 개선과 보완을 위한 통계 분석, 이용자와 웹사이트간의 원활한 의사 소통 등을 위해 이용될 것 입니다<br>
여러분이 웹사이트에 기재한 사항은 다른 사람들이 조회 또는 열람할 수도 있습니다.<br>
<br>
<br>
 [개인정보의 처리 및 보유 기간]
<br><br>
귀하의 개인정보는 다음과 같이 수집목적 및 이용목적이 완료되는 시점과 동시에 파기됨을 원칙으로 합니다.<br>
이용자가 탈퇴의사를 밝혀 탈퇴 처리할 때<br>
 귀하가 탈퇴의사에 따라 탈퇴를 한 후에는 로그인할 수 없으며 모든 정보는 삭제됩니다. 이에 따라 회원의 의사에 의한 탈퇴로 발생하는 자료의 삭제에 대해서 에프에스알엔티에서는 책임을 지지 않습니다.<br>
<br><br>
 [개인정보의 제3자 제공]
<br><br>
에프에스알엔티는 어떠한 경우에도 위에서 고지한 수집목적 및 이용목적의 범위를 초과하여 귀하의 개인정보를 이용하지 않습니다.<br>
실명확인 및 공공 I-PIN 인증 시에 제공하는 개인정보는 개인정보보호법 제22조 제2항에 따라 정보주체와의 계약체결 등을 위하여 정보주체의 동의 없이 처리할 수 있는 개인정보로 지정합니다.<br>
아래에 해당하는 개인정보는 회원가입 시 실명인증 및 공공 I-PIN 인증 시에만 제3자 제공을 하고 있으며 정보주체의 동의없이 제공되지 않습니다.<br>
<br>
제공받는 자<br>
정보의 이용목적<br>
정보의 제공 범위<br>
정보의 보유 및 이용 기간<br>
한국신용평가정보(주)<br>
실명확인<br>
이름/주민등록번호/외국인등록번호<br>
신용평가 기관에서는 이미 보유하고 있는 개인정보이기 때문에 별도로 저장하지 않음<br>
행정안전부<br>
공공 I-PIN 인증<br>
 I-PIN<br>
(개인식별번호)<br>
행정안전부에서는 이미 보유하고 있는 개인정보이기때문에 별도로 저장하지 않음<br>
<br>
<br>
단, 개인정보보호법 제18조 제2항에 의거 다음에 해당하는 경우에는 예외로 합니다.<br>
정보주체로부터 별도의 동의를 받은 경우<br>
 다른 법률에 특별한 규정이 있는 경우<br>
 정보주체 또는 그 법정대리인이 의사표시를 할 수 없는 상태에 있거나 주소불명 등으로 사전 동의를 받을 수 없는 경우로서 명백히 정보주체 또는 제3자의 급박한 생명, 신체, 재산의 이익을 위하여 필요하다고 인정되는 경우<br>
 통계작성 및 학술연구 등의 목적을 위하여 필요한 경우로서 특정 개인을 알아 볼 수 없는 형태로 개인정보를 제공하는 경우<br>
 개인정보를 목적 외의 용도로 이용하거나 이를 제3자에게 제공하지 아니하면 다른 법률에서 정하는 소관업무를 수행할 수 없는 경우로서 보호위원회의 심의•의결을 거친 경우<br>
 조약, 그 밖의 국제협정의 이행을 위하여 외국정부 또는 국제기구에 제공하기 위하여 필요한 경우<br>
 범죄의 수사와 공소의 제기 및 유지를 위하여 필요한 경우<br>
 법원의 재판업무 수행을 위하여 필요한 경우<br>
 형(刑) 및 감호, 보호처분의 집행을 위하여 필요한 경우<br>
 에프에스알엔티는 본래의 수집목적 및 이용목적에 반하여 무분별하게 정보가 제공되지 않도록 최대한 노력하겠습니다.<br>
<br>
 [개인정보주체로서의 권리•의무 및 그 행사방법]<br>
<br>
개인정보주체는 에프에스알엔티 웹사이트에 대해 언제든지 다음 각 호의 개인정보 보호 관련 권리를 행사할 수 있습니다.<br>
정보주체의 개인정보 열람, 수정 및 삭제<br>
 개인정보를 수정 및 삭제하고자 할 경우에는 웹사이트 상단 회원로그인 후 마이페이지의 '회원정보수정'에서 정해진 순서에 따라 직접 진행하실 수 있습니다.<br>
<br>
 [개인정보 안전성 확보조치를 위한 기술적 대책]<br>
<br>
에프에스알엔티는 회원 개인정보의 상실, 유출, 변조, 훼손 등으로부터 보호하기 위하여 다음과 같은 대책을 마련하고 있습니다.<br>
웹사이트의 보안 또는 지속적인 서비스를 위해, 에프에스알엔티는 네트워크 트래픽의 관제 및 통제는 물론 불법적으로 정보를 변경하는 등의 시도를 탐지하기 위해 여러 가지 시스템을 운영하고 있습니다.<br>
 수집된 데이터의 저장 및 전송 시 암호화하여 처리하고 있으며 수집된 개인정보는 안전한 서버에 저장하고 있습니다.<br>
해킹 등 외부 침입에 대비하여 정보보호시스템을 24시간 가동하여 보안에 만전을 기하고 있습니다.<br>
<br>
 [웹사이트 이용 중 다른 사람의 개인정보 취득]<br>
<br>
에프에스알엔티가 운영하는 웹사이트에서 이메일 주소 등 식별할 수 있는 개인정보를 취득하여서는 아니 됩니다. 또한 기타 부정한 방법으로 이러한 개인정보를 열람 또는 제공받은 자는 「개인정보 보호법」제9장 규정에 의거 처벌 받을 수 있습니다.<br>
<br>
 [링크 사이트•웹페이지]<br>
<br>
에프에스알엔티가 운영하는 여러 웹페이지에 포함된 링크 또는 배너를 클릭하여 다른 사이트 또는 웹페이지로 옮겨갈 경우 개인정보 보호방침은 그 사이트 운영기관이 게시한 방침이 적용됨으로 새로 방문한 사이트의 방침을 확인하시기 바랍니다.<br>
<br>
 [개인정보 보호책임자의 지정]<br>
<br>
에프에스알엔티는 귀하가 좋은 정보를 안전하게 이용할 수 있도록 최선을 다하고 있습니다.<br>
개인정보 보호에 있어 귀하께 고지한 사항들에 반하는 사고가 발생할 시에 에프에스알엔티가 모든 책임을 집니다.<br>
그러나 기술적인 보완조치를 했음에도 불구하고, 해킹 등 기본적인 네트워크상의 위험성에 의해 발생하는 예기치 못한 사고로 인한 정보의 훼손 및 방문자가 작성한 게시물에 의한 각종 분쟁에 관해서는 책임지지 않습니다.<br>
귀하의 개인정보 보호책임자는 다음과 같으며 에프에스알엔티의 웹사이트 이용 중 정보주체의 권익이 침해될 우려가 있는 사실을 발견하였을 경우 다음의 연락처로 알려주시기 바랍니다.<br>
<br>
개인정보 보호책임자<br>
 담당부서 : <br>
성명 : <br>
이메일 : <br>
전화번호 : <br>
주소 : <br>
<br>
개인정보 보호담당자<br>
 담당부서 :<br>
성명 : <br>
이메일 : <br>
전화번호 : <br>
주소 : <br>
<br>
 [개인정보 처리방침의 변경]<br>
<br>
이 개인정보 처리방침은 시행일로부터 적용되며, 법령 및 방침에 따른 변경내용의 추가, 삭제 및 정정이 있는 경우에는 웹사이트 공지사항을 통하여 고지할 것입니다.<br>
<br>
 [권익침해 구제방법]<br>
<br>
개인정보주체는 개인정보침해로 인한 구제를 받기 위하여 개인정보분쟁조정위원회, 한국인터넷진흥원 개인정보침해신고센터 등에 분쟁해결이나 상담 등을 신청할 수 있습니다. 이 밖에 기타 개인정보침해의 신고 및 상담에 대하여는 아래의 기관에 문의하시기를 바랍니다.<br>
<br>
개인분쟁조정위원회 : (국번없이)118<br>
정보보호마크인증위원회 : 02-580-0533~4<br>
대검찰청 사이버범죄수사단 : 02-3480-3573<br>
경찰청 사이버테러대응센터 : 02-1566-0112<br>
<br>	
	 					</p>
 					</div>
 					<div style="float:right; margin-right: 12px;">
 						<p style="float: left;  margin-right: 25px;">이용약관에 동의합니다</p>
 						<div style="float:left; margin-right: 25px;">
 							<input type="radio" name="identity_info_check" id="Privacy_agree"> 동의
 						</div>
 						<div style="float:left;">
							<input type="radio" name="identity_info_check"  id="Privacy_Fine"> 미동의
						</div>
 					</div>

 					<div style="margin-top: 55;font-size: 20px;font-weight: 700; margin: 0 auto; width: 910;     clear: both;">
 						<p>위치정보 이용약관</p>
 					</div>
 					<div id="location">
	 					<p>

[위치정보 이용약관]
<br><br>
제1조 (목적)
<br>
이 약관은 에프에스알엔티(이하 “회사”)가 제공하는 위치기반서비스와 관련하여 회사와 개인위치정보주체와의 권리, 의무 및 책임사항, 기타 필요한 사항을 규정함을 목적으로 합니다.
<br><br>
제2조 (약관 외 준칙)
<br>
이 약관에 명시되지 않은 사항은 위치정보의 보호 및 이용 등에 관한 법률, 정보통신망 이용촉진 및 정보보호 등에 관한 법률, 전기통신기본법, 전기통신사업법 등 관계법령과 회사의 이용약관 및 개인정보취급방침, 회사가 별도로 정한 지침 등에 의합니다.<br>
<br>
제3조 (서비스 내용)<br>
<br>
① 회사는 직접 위치정보를 수집하여 아래와 같은 위치기반서비스를 제공합니다.<br>
<br>
1. 이용자의 진출입 정보를 제공합니다.<br>
2. 현재 위치를 활용한 서비스: 정보 검색 요청 시 이용자 현 위치를 이용한 검색결과 제시합니다.<br>
<br><br>
제4조 (위치정보 수집방법)<br>
<br>
회사는 다음과 같은 방식으로 개인위치정보를 수집합니다.<br>
① Well-Tag(을)를 통해 수집되는 GPS 정보를 통한 위치정보 수집<br>
<br>
 제5조 (개인위치정보주체의 권리)
<br>
① 개인위치정보주체는 개인위치정보 수집 범위 및 이용약관의 내용 중 일부 또는 개인위치정보의 이용•제공 목적, 제공받는 자의 범위 및 위치기반서비스의 일부에 대하여 동의를 유보할 수 있습니다.<br>
② 개인위치정보주체는 개인위치정보의 수집ㆍ이용ㆍ제공에 대한 동의의 전부 또는 일부를 철회할 수 있습니다.<br>
③ 개인위치정보주체는 언제든지 개인위치정보의 수집ㆍ이용ㆍ제공의 일시적인 중지를 요구할 수 있습니다. 이 경우 회사는 요구를 거절하지 아니하며, 이를 위한 기술적 수단을 갖추고 있습니다.<br>
④ 개인위치정보주체는 회사에 대하여 아래 자료의 열람 또는 고지를 요구할 수 있고, 당해 자료에 오류가 있는 경우에는 그 정정을 요구할 수 있습니다. 이 경우 회사는 정당한 이유 없이 요구를 거절하지 아니합니다.<br>
1. 개인위치정보주체에 대한 위치정보 수집•이용•제공사실 확인자료<br>
2. 개인위치정보주체의 개인위치정보가 위치정보의 보호 및 이용 등에 관한 법률 또는 다른 법령의 규정에 의하여 제3자에게 제공된 이유 및 내용<br>
⑤ 회사는 개인위치정보주체가 동의의 전부 또는 일부를 철회한 경우에는 지체 없이 수집된 개인위치정보 및 위치정보 수집•이용•제공사실 확인자료를 파기합니다. 단, 동의의 일부를 철회하는 경우에는 철회하는 부분의 개인위치정보 및 위치정보 수집•이용•제공사실 확인자료에 한합니다.<br>
⑥ 개인위치정보주체는 제1항 내지 제3항의 권리행사를 위하여 이 약관 제12조의 연락처를 이용하여 회사에 요구할 수 있습니다.<br>
<br>
제6조 (법정대리인의 권리)
<br>
① 회사는 만14세 미만 아동으로부터 개인위치정보를 수집•이용 또는 제공하고자 하는 경우에는 만14세 미만 아동과 그 법정대리인의 동의를 받아야 합니다.<br>
② 법정대리인은 만14세 미만 아동의 개인위치정보를 수집•이용•제공에 동의하는 경우 동의유보권, 동의철회권 및 일시중지권, 열람•고지요구권을 행사할 수 있습니다.<br>
<br>
제7조 (위치정보 이용ㆍ제공사실 확인자료 보유근거 및 보유기간)
<br>
회사는 위치정보의 보호 및 이용 등에 관한 법률 제16조 제2항에 근거하여 개인위치정보주체에 대한 위치정보 수집•이용•제공사실 확인자료를 위치정보시스템에 자동으로 기록하며, 1년 이상 보관합니다.
<br>
제8조 (서비스의 변경 및 중지)
<br>
① 회사는 위치정보사업자의 정책변경 등과 같이 회사의 제반 사정 또는 법률상의 장애 등으로 서비스를 유지할 수 없는 경우, 서비스의 전부 또는 일부를 제한, 변경하거나 중지할 수 있습니다.<br>
② 제1항에 의한 서비스 중단의 경우에는 회사는 사전에 인터넷 등에 공지하거나 개인위치정보주체에게 통지합니다.<br>
<br>
제9조 (개인위치정보 제3자 제공시 즉시 통보)
<br>
① 회사는 개인위치정보주체의 동의 없이 당해 개인위치정보주체의 개인위치정보를 제3자에게 제공하지 아니하며, 제3자 제공 서비스를 제공하는 경우에는 제공 받는 자 및 제공목적을 사전에 개인위치정보주체에게 고지하고 동의를 받습니다.<br>
② 회사는 개인위치정보를 개인위치정보주체가 지정하는 제3자에게 제공하는 경우에는 개인위치정보를 수집한 당해 통신단말장치로 매회 개인위치정보주체에게 제공받는 자, 제공일시 및 제공목적을 즉시 통보합니다.
<br>
<br>
 제10조 (손해배상)
<br>
개인위치정보주체는 회사의 위치정보의 보호 및 이용 등에 관한 법률 제15조 내지 26조의 규정을 위반한 행위로 손해를 입은 경우에 회사에 대하여 손해배상을 청구할 수 있습니다. 이 경우 회사는 고의 또는 과실이 없음을 입증하지 아니하면 책임을 면할 수 없습니다.<br>
<br>
제11조 (분쟁의 조정)
<br>
회사는 위치정보와 관련된 분쟁에 대하여 개인위치정보주체와 협의가 이루어지지 아니하거나 협의를 할 수 없는 경우에는 방송통신위원회에 재정을 신청할 수 있습니다.
<br>	
	 					</p>
 					</div>
 					<div style="float:right; margin-right: 12px;">
 						<p style="float: left;  margin-right: 25px;">이용약관에 동의합니다</p>
 						<div style="float:left; margin-right: 25px;">
 							<input type="radio" name="location_info_check" id="location_agree"> 동의
 						</div>
 						<div style="float:left;">
							<input type="radio" name="location_info_check"  id="location_Fine"> 미동의
						</div>
 					</div>
 				</div>
 				</div>	
 			</div>
 			<div id="all_check">
	 			<input id="agree_check" name="all_check" onClick="all_check()" value="1" type="checkbox">
	 			<p class="check">
	 				<span>상위 이용약관에 대하여 모두 동의 합니다.</span>
	 			</p>
 			</div>
 		</div>
 		<div style="margin: 0 auto; width: 317px; margin-top: 17px;">
	 		<div class="Confirm" id="success">
	 			<a href="/login/signup" style="color: black; text-decoration: none;"><p>확인</p></a>
	 		</div>
	 		<div class="Confirm" id="cancel">
	 			<a href="/login" style="color: black; text-decoration: none;"><p>취소</p></a>
	 		</div>
 		</div>
 		<!-- </form> -->
 	</div>
	{%endblock%}

	
</body>
</html>