{%extends "base.html"%}

<html>
<head>
	{%block title%}
		마이페이지
	{%endblock%}

	{%block link%}
	<link rel="stylesheet" type="text/css" href="/static/css/mypage/changepassword.css">
	{%endblock%}

	{%block script%}
	
  	{%endblock%}
</head>
<body>
	{%block content%}
	<div id="content_area">
 		<div>
 			<p id="content_top">마이페이지</p>
 		</div>
 		<div style="margin: 0 auto;width: 618px;">
 			<div id="information">
 				<a href="/mypage/mypageprivacy"><p class="title" id="information_title">개인정보 변경</p></a>
 			</div>
 			<div id="change">
 				<a href="/mypage/changepassword"><p class="title" id="change_title">비밀번호 변경</p></a>
 			</div>
 			<div id="secession">
 				<a href="/mypage/withdrawal"><p class="title" id="secession_title">회원탈퇴</p></a>
 			</div>
 		</div>

 		<div id="main">
 			<div style="margin: 0 auto;width: 500px;">
	 			<div style="margin-top: 45;">
	 				<p id="password">새 비밀번호</p>
	 				<input type="text" id="newpassword">
	 			</div>
	 			<div id="pass_confirm">
	 				<p id="pass_confirm_title">새 비밀번호 확인</p>
	 				<input type="text" id="newpass_confirm">
	 			</div>
	 		</div>
 		</div>
 		<div style="margin: 0 auto; width: 317px; margin-top: 17px;">
	 		<div class="Confirm" id="success">
	 			<p>확인</p>
	 		</div>
	 		<div class="Confirm" id="cancel">
	 			<p>취소</p>
	 		</div>
 		</div>
	</div>
	{%endblock%}

	{%block footer%}
	<div id="footer"style="background-color: #b1dbe7;
    "></div>
    <p>ⓒ 2017 FSRNT Ce,Ltd All Rights reserved</p>
    {%endblock%}
</body>
</html>